$background--day: #1bc6c6;
$background--night: #030b0b;

$background-saule: radial-gradient(circle, rgba(180,141,12,1) 0%, rgba(207,196,34,1) 47%, rgba(251,232,2,1) 100%);
$saule-spinduliai: rgba(251,232,2,1);


$geles-kotas: linear-gradient(90deg, rgba(16,62,12,1) 0%, rgba(48,255,0,1) 100%);
$geles-ziedas: radial-gradient(circle, rgba(147,148,13,1) 0%, rgba(247,245,11,1) 100%);
$lapas-pirmas: linear-gradient(-10deg, rgba(16,62,12,1) 0%, rgba(48,255,0,1) 100%);

$ziedas-pirmas: linear-gradient(81deg, rgba(210,14,14,1) 0%, rgba(255,203,206,1) 100%);
$ziedas-antras: linear-gradient(81deg, rgba(17,14,210,1) 0%, rgba(203,203,255,1) 100%);
$ziedas-trecias: linear-gradient(81deg, rgba(198,14,210,1) 0%, rgba(252,203,255,1) 100%);
