@keyframes backdrop {
  0% {
    max-height: 0;
  }
  100% {
    max-height: 60px;
  }
}
@keyframes menu-expand {
  0% {
    max-height: 0;
  }
  100% {
    max-height: 750px;
  }
}
html {
  background-color: white;
}

body {
  background-color: #232b2b;
  width: 550px;
  height: 750px;
  position: relative;
  margin: 0 auto;
}

.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}
.hamburger:hover {
  opacity: 1;
}
.hamburger:focus:hover {
  opacity: 1;
}
.hamburger:focus .hamburger-inner,
.hamburger:focus .hamburger-inner::before,
.hamburger:focus .hamburger-inner::after {
  background-color: #ffffff;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #ffffff;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger-inner::before {
  top: -10px;
}
.hamburger-inner::after {
  bottom: -10px;
}

.hamburger--emphatic {
  overflow: hidden;
}
.hamburger--emphatic .hamburger-inner {
  transition: background-color 0.125s 0.175s ease-in;
}
.hamburger--emphatic .hamburger-inner::before {
  left: 0;
  transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, left 0.125s 0.175s ease-in;
}
.hamburger--emphatic .hamburger-inner::after {
  top: 10px;
  right: 0;
  transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, right 0.125s 0.175s ease-in;
}
.hamburger--emphatic:focus .hamburger-inner {
  transition-delay: 0s;
  transition-timing-function: ease-out;
  background-color: transparent !important;
}
.hamburger--emphatic:focus .hamburger-inner::before {
  left: -80px;
  top: -80px;
  transform: translate3d(80px, 80px, 0) rotate(45deg);
  transition: left 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.hamburger--emphatic:focus .hamburger-inner::after {
  right: -80px;
  top: -80px;
  transform: translate3d(-80px, 80px, 0) rotate(-45deg);
  transition: right 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(235, 45, 58, 0.5);
  display: flex;
  justify-content: flex-end;
}
.header__backdrop {
  background-color: #ff6600;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  max-height: 0;
}
.header__nav {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 750px;
  max-height: 0;
  overflow: hidden;
}
.header__nav__inner {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 200px 0;
  box-sizing: border-box;
}
.header__nav__item {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
}

.hamburger {
  z-index: 9001;
}
.hamburger:focus ~ .header__backdrop {
  animation: backdrop 0.25s ease-in-out forwards;
}
.hamburger:focus ~ .header__nav {
  animation: menu-expand 0.25s ease-in-out forwards;
}/*# sourceMappingURL=style.css.map */